
/*Welcome*/
.jumbo-img{
	background: url(../images/cover.jpeg) bottom center no-repeat;
	background-size: cover;		
	padding: 6rem 0 2rem 0 ;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	max-height: 60rem;
	min-height: 25rem;
	position: relative;
	margin-bottom: 0;  
}
.jumbo-text{
	background-color: rgb(0,0,0); /* Fallback color */
  	background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
	color: white;
	font-weight: bold;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 100%
	width: 70%;
	padding: 2rem;
	text-align: center;
	z-index: 10; 
}
#title {
	margin: 1rem;
	font-size: 4rem;
	font-weight: bold;
}
#sub-title {
	font-size: 1.5rem; 
	font-weight: bold;
}
.contact-icons {	
	margin: 0 auto;
	width: 100%;
	padding: 0;
	}
.contact-icons i{
	color: #6f6f8b;
	color: white;
	/*font-size: 1.75rem;*/
	height: auto;
	margin: 0 1rem 0 1rem; 
}
.contact-icons i:hover{
	transform:scale(1.1);
}
.title-break {
    border: 0;
    height: 4px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    margin: .7em auto; 
    width: 60%
}
#about-button {
	margin: 1rem; 
	padding: .7rem 2rem .7rem 2rem;
	font-size: 1rem;
	background-color: white;
	font-weight: bold; 
	color: #424242;
	border-radius: 3rem;
}
#about-button:hover {
	background-color: white;
	color: white;
	animation-name: about-button-color;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	transform:scale(1.1);
}
@keyframes about-button-color {
	100% {
		background-color: transparent; 
	}
}
#vertical-line-1 {
  border-left: 3px solid #fff;
  height: 38.5%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  bottom: 0;
  z-index: 10; 
}

/*About Section*/
#about-section {
	margin-top: -.25em; 
	padding: 5em; 

	height: 500px;

	background: url(../images/white-pattern.jpg) bottom center no-repeat;
	background-size: cover;	


}
#about-card {
	margin: 2.5em; 
}
#about-card-description {
}
.heading {
	color: #6f6f8b
	font-size: 2.2em; 
}
.lead {
	font-size: 1.05em; 
}
.mini-break {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(150, 150, 150, 0), rgba(150, 150, 150, 0.75), rgba(150, 150, 150, 0));
    margin: 1em auto; 
    width: 60%
}
#purple-line-1 {
  border-left: 3px solid #6f6f8b;
  height: 11%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  bottom: 0;
  z-index: 2; 
}

#project-button {
	margin: 1rem; 
	padding: .7rem 2rem .7rem 2rem;
	font-size: 1rem;
	background-color: #A4A4A4; 
	color: white;
	border-radius: 3rem;
}
#project-button:hover {
	background-color: #FAFAFA; 
	color: #A4A4A4;	
	animation-name: button-color;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	transform:scale(1.1);
}
@keyframes button-color {
	100% {
	background-color: #D8D8D8;
	color: #585858;
	}
}

/*Project Section*/

#project-section {
	background-image: url("https://images.unsplash.com/photo-1523349945440-436fbc94fdde?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
	background-size: cover;	
	padding: 6em 0 2em 0 ;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	height: 150vh;
	max-height: 70em;
	min-height: 30em;
	position: relative;
	margin-bottom: 0;  
}
#project-header {
	background-color: rgb(0,0,0); /* Fallback color */
  	background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
	color: white;
	font-weight: bold;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 100%
	width: 80%;
	padding: 20px;
	text-align: center;
	z-index: 10;
}
.margin-free-row {
	margin: 0px auto; 
}
.projects {
	top: 15em;
	margin: 0 auto; 
	z-index: 10; 
}
.project-img {
	height: 15em;
	width: 13em; 
	margin: 2em auto; 
	z-index: 10; 
	cursor: pointer;
}
#vertical-line-2 {
  border-left: 3px solid #fff;
  height: 11%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
  z-index: 2; 
}
#vertical-line-3 {
  border-left: 3px solid #fff;
  height: 71%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  bottom: 0;
  z-index: 2;
}
#horizontal-line-1 {
  border-top: 3px solid #fff;
  width: 70%;
  position: absolute;
  bottom: 50%;
  z-index: 5;
}
#horizontal-line-2 {
  border-top: 3px solid #fff;
  width: 100%;
  position: absolute;
  margin-left: -3px;
  bottom: 30%;
  z-index: ;
}



/*Footer*/
.jumbo-img-foot{
	background-image: url("https://images.pexels.com/photos/2312369/pexels-photo-2312369.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	background-size: cover;		
	padding: 3em 0 2em 0 ;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	height: .05vh;
	max-height: 1em;
	min-height: .5em;
	position: relative;
	margin-top: 0; 
	margin-bottom: 0; 
}
#vertical-line-4 {
  border-left: 3px solid #fff;
  height: 20%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}
/*#vertical-line-5 {
  border-left: 3px solid #fff;
  height: 50%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  bottom: 0;
}*/