
/*Welcome*/
.jumbo-img{
	background: url(../images/cover.jpeg) bottom center no-repeat;
	background-size: cover;		
	background-attachment: fixed;
	height: 100vh;
	max-height: 60rem;
	min-height: 25rem;
	position: relative;
	margin-bottom: 0;  
}
.jumbo-text{
	background-color: rgb(0,0,0); /* Fallback color */
  	background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: .5rem;
	text-align: center;
	z-index: 10; 
}
#title {
	margin: 1rem;
	font-size: 3.5rem;
	font-weight: 300;
    line-height: 1.2;
}
.title-break-1 {
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    margin: .7em auto; 
    width: 60%
}
.title-break-2 {
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    margin: .7em auto; 
    margin-bottom: 1.5rem;
    width: 70%
}
.contact-icons {	
	margin: 0 auto;
	width: 100%;
	padding: 0;
}
.contact-icons i{
	color: #6f6f8b;
	color: white;
	height: auto;
	margin: 0 1rem 0 1rem; 
}
.contact-icons i:hover{
	transform:scale(1.1);
}
#about-button {
	margin: 2rem 0 1rem 0; 
	padding: .7rem 2rem .7rem 2rem;
	font-size: 1rem;
	background-color: white;
	font-weight: bold; 
	color: #424242;
	border-radius: 3rem;
}
#about-button:hover {
	background-color: white;
	color: white;
	animation-name: about-button-color;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	transform:scale(1.1);
}
@keyframes about-button-color {
	100% {
		background-color: transparent; 
	}
}

/*About Section*/

#about-section {
	margin-top: -.25em; 
	padding: 5em; 
/*	background: url(../images/white-background.jpg) bottom center no-repeat;
	background-size: cover;*/	
}
#about-card {
	margin: 2.5em; 
}
#about-heading {
	color: #6f6f8b
	font-size: 2.2em; 
	text-shadow: 2px 2px 4px silver;
}
.lead {
	font-size: 1.05em; 
}
.mini-break {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(150, 150, 150, 0), rgba(150, 150, 150, 0.75), rgba(150, 150, 150, 0));
    margin: 1em auto; 
    width: 60%
}
#project-button {
	margin: 1rem; 
	padding: .7rem 2rem .7rem 2rem;
	font-size: 1rem;
	background-color: #A4A4A4; 
	color: white;
	border-radius: 3rem;
}
#project-button:hover {
	background-color: #FAFAFA; 
	color: #A4A4A4;	
	animation-name: button-color;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	transform:scale(1.1);
}
@keyframes button-color {
	100% {
	background-color: #D8D8D8;
	color: #585858;
	}
}

/*Project Section*/

#project-section {
	background: url(../images/gray-pattern.jpg) bottom center no-repeat;
	background-size: cover;	
	padding: 2rem 0 2rem 0 ;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	height: 120vh;
	max-height: 60rem;
	min-height: 30em;
	position: relative;
	margin-bottom: 0;  
}
#project-header {
	color: black;
	font-weight: bold;
	width: 80%;
	padding: 1rem;
	margin: 1rem auto;
	text-align: center;
	z-index: 10;
}
.margin-free-row {
	margin: 0px auto; 
}
.projects {
	margin: 0.5rem auto; 
	z-index: 10; 
}
.project-img {
	height: 13rem;
	width: 15rem; 
	margin: 2rem auto; 
	z-index: 10; 
	cursor: pointer;
}

/*Footer*/

.jumbo-img-foot{
	background-image: url("https://images.pexels.com/photos/2312369/pexels-photo-2312369.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	background-size: cover;		
	padding: 3em 0 2em 0 ;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	height: .05vh;
	max-height: 1em;
	min-height: .5em;
	position: relative;
	margin-top: 0; 
	margin-bottom: 0; 
}