
/*Welcome*/
.jumbo-img{
	background-image: url("https://images.pexels.com/photos/2312369/pexels-photo-2312369.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	background-size: cover;		
	padding: 6em 0 2em 0 ;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 95vh;
	max-height: 40em;
	min-height: 22em;
	position: relative;
	margin-bottom: 0;  
}
.jumbo-text{
	background-color: rgb(0,0,0); /* Fallback color */
  	background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
	color: white;
	font-weight: bold;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 100%
	width: 80%;
	padding: 20px;
	text-align: center;
	z-index: 10; 
}
.title-break {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    margin: .5em auto; 
    width: 60%
}
#vertical-line-1 {
  border-left: 3px solid #fff;
  height: 36%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  bottom: 0;
  z-index: 5; 
}

/*About Section*/

#about-section {
	margin-top: -.25em; 
	padding: 5em; 
	background: white;
}
#about-card {
	background-color: white; 
	margin: 2.5em; 
}
#about-card-description {
}
.heading {
	font-size: 2.2em; 
}
.lead {
	font-size: 1.05em; 
}
.mini-break {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(150, 150, 150, 1), rgba(150, 150, 150, 0.35), rgba(150, 150, 150, 0));
    margin: 2em auto; 
    width: 60%
    left: 0;
}

/*Project Section*/

#project-section {
	background-image: url("https://images.unsplash.com/photo-1496517343266-e95a6e214de7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80");
	background-size: cover;	
	padding: 6em 0 2em 0 ;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 150vh;
	max-height: 70em;
	min-height: 30em;
	position: relative;
	margin-bottom: 0;  
}
#project-header {
	background-color: rgb(0,0,0); /* Fallback color */
  	background-color: rgba(0,0,0, 0.3); /* Black w/opacity/see-through */
	color: white;
	font-weight: bold;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 100%
	width: 80%;
	padding: 20px;
	text-align: center;
	z-index: 10;
}
.margin-free-row {
	margin: 0px auto; 
}
.projects {
	top: 15em;
	margin: 0 auto; 
	z-index: 10; 
}
.project-img {
	height: 15em;
	width: 13em; 
	margin: 2em auto; 
	z-index: 10; 
	cursor: pointer;
}
#vertical-line-2 {
  border-left: 3px solid #fff;
  height: 11%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
  z-index: 2; 
}
#vertical-line-3 {
  border-left: 3px solid #fff;
  height: 71%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  bottom: 0;
  z-index: 2;
}
#horizontal-line-1 {
  border-top: 3px solid #fff;
  width: 70%;
  position: absolute;
  bottom: 50%;
  z-index: 5;
}
#horizontal-line-2 {
  border-top: 3px solid #fff;
  width: 100%;
  position: absolute;
  margin-left: -3px;
  bottom: 30%;
  z-index: ;
}
/*Scrolling Nav Buttons*/



/*Footer*/
.jumbo-img-foot{
	background-image: url("https://images.pexels.com/photos/2312369/pexels-photo-2312369.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	background-size: cover;		
	padding: 3em 0 2em 0 ;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: .05vh;
	max-height: 1em;
	min-height: .5em;
	position: relative;
	margin-top: 0; 
	margin-bottom: 0; 
}
#vertical-line-4 {
  border-left: 3px solid #fff;
  height: 20%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}
/*#vertical-line-5 {
  border-left: 3px solid #fff;
  height: 50%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  bottom: 0;
}*/